.container{
  padding: 10px;
}
.item{
  background-color: rgb(191, 253, 255);
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}
.card{
  margin-top: 5px;
}
.btn_wid{
  margin-top: 10px;
}
.align{
  text-align: right;
}