.container{
  padding: 10px;
}
.item{
  background-color: rgb(191, 253, 255);
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.item:hover{
  background-color: rgb(255, 191, 223);
  transition: all .7s;
}

.card{
  margin-top: 5px;
}
.btn_wid{
  margin-top: 10px;
}
.align{
  text-align: right;
}